body{
    background-color: white;
}

#container{
    position: absolute;
    top: 50%;
    left: 50%;
    background-color: black;
    border-radius: 20px;
    color: white;
    width: 320px;
    height: 510px;
    transform: translate(-50%,-50%);
    text-align: center;
    align-items: center;
}

.infobtn{
    height: 40px;
    width: 250px;
    margin-top: 5px;
    border-radius: 10px;
    border: none;
    cursor: pointer;
    font-size: 15px;
    font-weight: bold;
    color: white;
}

.infobtn:hover{
    background-color:#00abe4;
    transition: 0.25s;
    width: 255px;
    height: 42px;
    color: white;
}
.infobtn:active{
    background-color: blue;
}





 #name{
    font-size: 25px;
    font-weight: bold;
    
}




#location{
    font-weight: bold;
    color: #00abe4;
    font-family: Arial, Helvetica, sans-serif;
}

#picDiv{
    width: 100px;
    height: 100px;
    background-color:transparent;
    position: relative;
    top: 2%;
    left: 33%;
    border-radius: 50%;
    overflow: hidden;
   
}

.Profilepic{
    width: 100px;
    height: 100px;
    object-fit: cover;
}


@media (max-width: 480px){
    #container{
        width: 100%;
        height: 100%;
        border-radius:0;
        padding: 10px;
    }

    .infobtn{
        width: 330px;
        height: 60px;
        margin-top: 10px;
        border-radius: 18px;
    }

    .infobtn:hover{
        width: 335px;
        height: 60px;
    }

    #name{
        font-size: 36px;
        margin-bottom: 0;
        margin-top: 18px;
    }

    #location{
        font-size: 18px;
        margin-top: 8px;
    }

    .Profilepic{
        width: 130px;
        height: 130px;
    }

    #picDiv{
        width: 130px;
        height: 130px;
        top: 3%;
        left: 33%;
    }

    #stack{
        font-size: 19px;
    }
}

